@media (min-width: 640px) {
	nav ul {
		display: flex;
	}
	nav ul li {
		flex: 1 1 100%;
	}
	.home-content{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .company-spotlight{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
	#menu {
		display: none; /* hide hamburger button */
	}

	.navigation {
		flex-direction: row;
	}

	.navigation li {
		display: block;
		flex: 1 1 100%;
	}
}